<!DOCTYPE html>

<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orlando Impresiones SAS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
    a{
    color:white;
    font-family:Helvetica;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
    .container{


    }
     h1 {
      color: white;
      padding: 5px;
      font-family:Helvetica;
    }
      body{
      background:linear-gradient(90deg, black 15%, white 250%);
     }


  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/UsuarioHtml}"><span class="glyphicon glyphicon-user"></span> Ver Usuario</a></li>
                <li><a th:href="@{/AgregarEmpresa}"><span class="glyphicon glyphicon-home"></span> Agregar Empresa</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div h1 class="container-fluid text-center">
    <h1>Lista de Empresas</h1>
</div>
<div class="container-fluid bg-dark text-white">
    <table class="w3-table-all w3-hoverable w3-centered table-bordered">
        <thead>
    <tr class="w3-light-grey">
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>NIT</th>
        <th>Usuario</th>
        <th>Movimientos</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
        </thead>
    <!--Llenamos la tabla dibujada-->
    <!--En nuestro controller, creamos en viewEmpresa un modelo con un atributo llamado emplist donde esta guardada la lista de todas las empresas-->
    <tr th:each="Empresa : ${emplist}">
        <td th:text="${Empresa.id}"></td>
        <td th:text="${Empresa.nombre}"></td>
        <td th:text="${Empresa.direccion}"></td>
        <td th:text="${Empresa.telefono}"></td>
        <td th:text="${Empresa.nit}"></td>
        <td><button type="button" class="btn btn-info"><a th:href="@{/Empresa/{id}/Usuario (id=${Empresa.id})}">Ver</a></button></td>
        <td><button type="button" class="btn btn-primary"><a th:href="@{/Empresa/{id}/Movimientos (id=${Empresa.id})}">Ver</a></button></td>
        <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarEmpresa/{id}(id=${Empresa.id})}">Editar</a></button></td>
        <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarEmpresa/{id}(id=${Empresa.id})}">Eliminar</a></button></td>
    </tr>
</table>
</div>
<br><br>
<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>
</body>
</html>