<!DOCTYPE html>

<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orlando Impresiones SAS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <div class="lineal"></div>
    <style>

    background: linear-gradient(top, black, white);

    h1 {
    font-size: 36px;
    color: #000;
    font-family: 'Open Sans';
    }

    a{
    color:white;
    }
    a:hover {
    color: black;
    text-decoration:none;
    }
 body {
     background: linear-gradient(top, black, white);
       }
</style>

</head>
<body >

<div class="container">
    <button type="button" class="btn btn-danger" style="float:right"><a th:href="@{/logout}">Cerrar Sesión</a></button>
    <div class="w3-container w3-teal w-black">
        <h1>Impresiones Orlando</h1>
    </div>
    <br>
    <h2> Lista de Servicio Orlando impresiones</h2>
    <!--Dibujamos la tabla-->

    <br>

    <table class="w3-table-all w3-hoverable w3-centered table-bordered">
        <thead>
    <tr class="w3-light-grey">
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>NIT</th>
        <th>Usuario</th>
        <th>Movimientos</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
        </thead>
    <!--Llenamos la tabla dibujada-->
    <!--En nuestro controller, creamos en viewEmpresa un modelo con un atributo llamado emplist donde esta guardada la lista de todas las empresas-->
    <tr th:each="Empresa : ${empresaList}">
        <td th:text="${Empresa.id}"></td>
        <td th:text="${Empresa.nombre}"></td>
        <td th:text="${Empresa.direccion}"></td>
        <td th:text="${Empresa.telefono}"></td>
        <td th:text="${Empresa.nit}"></td>
        <td><button type="button" class="btn btn-info"><a th:href="@{/Empresa/{id}/Usuario (id=${Empresa.id})}">Ver</a></button></td>
        <td><button type="button" class="btn btn-primary"><a th:href="@{/Empresa/{id}/Movimientos (id=${Empresa.id})}">Ver</a></button></td>
        <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarEmpresa/{id}(id=${Empresa.id})}">Editar</a></button></td>
        <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarEmpresa/{id}(id=${Empresa.id})}">Eliminar</a></button></td>
    </tr>
</table>

    <!-- vamos a crear un boton que sirva para agregar nuevas empresas -->
    <button type="button" class="btn btn-info"><a th:href="@{/AgregarEmpresa}">Agregar Nueva Empresa</a></button>
    <br><br>
    <button type="button" class="btn btn-primary"><a th:href="@{/UsuarioHtml}">Ver lista de Usuario</a></button>

</div>

<script th:inline="javascript">
    window.onload=function(){

        var msg= [[${mensaje}]];
        if (msg == "saveOK"){
            Command : toastr["success"]("Empresa creada con éxito!")
            }
        else if (msg == "updateOK"){
            Command : toastr["success"]("Empresa actualizada con éxito!")
        }
        else if (msg == "deleteOK"){
            Command : toastr["error"]("Empresa eliminada con éxito!")
        }
        else if (msg == "deleteError"){
            Command : toastr["error"]("Empresa no ha sido eliminada!")
        }
        toastr.options={
            "positionClass": "toast-top-right",
            "showDuration":"300",
            "showMethod":"fadeIn",
            "hideMethod":"fadeOut",
        }


    }

</script>
<div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>
</body>
</html>